/* Google web fonts 'Open Sans' (italic and normal) and 'Boogaloo' */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700);
@import url(http://fonts.googleapis.com/css?family=Boogaloo);

/* reset CSS file to reset browser default styling to a consistent starting point */
@import url(reset.css);

body {
/*    background-image: url(../img/pizza1.jpg), url(../img/1200px/seamlesstexture25_1200.jpg);
*/    /*background-repeat: repeat;*/
    font-family: "Lucida Grande", Arial, sans-serif;
    font-size: 13px;
    padding: 17px;
    background-size: 700px 700px, 1400px 3000px;
    background-position:left top, left top;
    background-repeat: no-repeat;
}
.content-box {
    /*background-image: url(../img/1200px/seamlesstexture23_1200.jpg);*/
    /*width: 62%;*/
    background-color: #FFF;
    margin-top: 30px;
    box-shadow:  2px 2px 6px #555;
    padding: 20px;
}

.center{
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.imgcenter{
    text-align: center;
}

.min1{
    min-width: 130px;
}

.min2{
    min-width: 80px;
}
.padding{
    padding: 2px;
    font-size: 12px;

}
.cropImg{
    width: 200px;
}

.logoCrop{
    width: 100px;
}

small{
    font-size:10px; 
}

@media screen and (max-width: 1100px) {
    
} 

@media screen and (max-width: 600px) {
 
}

@media screen and (max-width: 321px) {

}

h2{
    font-size: 15px;
}